# Help: Fixups needed for allyesconfig.

# Even with this config, allyesconfig is not booting all the way, but it gets
# the boot quite far. The purpose of this config is to get as far as possible,
# not necessarily to fix all the bugs one runs into on an allyesconfig build.

#
# General allyesconfig options:
#

# allyesconfig tends to generate high stack usage in some functions.
CONFIG_FRAME_WARN=0

# allyesconfig is quite memory intensive with all the tests, give it some extra.
CONFIG_BOOT_MEM_PAGES=0x4000

# With allyesconfig many selftests and torture routines run, and since we have
# no preemption, we can't have the watchdog sniff around too much on busy CPUs.
CONFIG_HARDLOCKUP_DETECTOR=n
CONFIG_SOFTLOCKUP_DETECTOR=n

#
# Workarounds for build errors:
#
# The Wasm toolchain does currently not support some features that allyesconfig
# selects. It should be possible to support all of these in the future.
#

# Unsupported config: CONFIG_MODULES (relies on unsupported CONFIG_EXECMEM).
CONFIG_MODULES=n

# Unsupported codegen: computed gotos.
# It's not that bad, xfs_linux.h just needs to properly define __this_address.
CONFIG_XFS_FS=n

# Unsupported objcopy flag: --rename-section
CONFIG_LKDTM=n

#
# Workarounds for runtime issues:
#

# This hangs in register_console() -> printk() -> console_flush_one_record().
CONFIG_SERIAL_NUVOTON_MA35D1=n

# This hangs in an infinite loop in raid6_select_algo() (no, not just slow).
CONFIG_RAID6_PQ_BENCHMARK=n

# Memory access out of bounds in __debug_check_no_obj_freed (during test maple).
#CONFIG_DEBUG_OBJECTS_FREE=n
CONFIG_TEST_MAPLE_TREE=n

# Memory access out of bounds in init_sc520cdp (device driver initcall).
CONFIG_MTD_SC520CDP=n

# Invalid kernel text check (__is_kernel_text/dereference_function_descriptor).
CONFIG_DEBUG_NOTIFIERS=n

# Broken work queue add (usbip_event_add).
CONFIG_USBIP_CORE=n

# These seem to work but take forever to run, with very high memory consumption.
CONFIG_LOCK_TORTURE_TEST=n
CONFIG_WW_MUTEX_SELFTEST=n
CONFIG_RCU_TORTURE_TEST=n
CONFIG_RCU_TORTURE_TEST=n
CONFIG_RCU_SCALE_TEST=n
CONFIG_RCU_REF_SCALE_TEST=n
CONFIG_DMAPOOL_TEST=n
CONFIG_SCF_TORTURE_TEST=n
CONFIG_REED_SOLOMON_TEST=n
CONFIG_LWQ_TEST=n

# UBSAN makes allyesconfig extra demanding. Some warnings of interest are
# reported. There are probably some interesting bugs to squash here.
CONFIG_UBSAN=n
