# Help: Fixups needed for allyesconfig.

#
# General allyesconfig options:
#

# allyesconfig tends to generate high stack usage in some functions.
CONFIG_FRAME_WARN=0

#
# Workarounds for build errors:
#
# The Wasm toolchain does currently not support some features that allyesconfig
# selects. It should be possible to support all of these in the future.
#

# Unsupported config: CONFIG_MODULES (relies on unsupported CONFIG_EXECMEM).
CONFIG_MODULES=n

# Unsupported codegen: computed gotos.
# It's not that bad, xfs_linux.h just needs to properly define __this_address.
CONFIG_XFS_FS=n

# Unsupported objcopy flag: --rename-section
CONFIG_LKDTM=n

#
# Workarounds for runtime issues:
#
# This list is incomplete but gets the boot quite far, with and without 64BIT.
#

# We have no random seeding going on yet.
CONFIG_WARN_ALL_UNSEEDED_RANDOM=n

# This hangs in register_console() -> printk() -> console_flush_one_record().
CONFIG_SERIAL_NUVOTON_MA35D1=n

# This hangs in an infinite loop in raid6_select_algo() (no, not just slow).
CONFIG_RAID6_PQ_BENCHMARK=n
