# Help: Settings used to generate the default defconfigs for Wasm.
# Example: make tinyconfig base.config 32-bit.config

# Override tinyconfig defaults:
CONFIG_SLUB_TINY=n
CONFIG_CC_OPTIMIZE_FOR_SIZE=n
CONFIG_CC_OPTIMIZE_FOR_PERFORMANCE=y

# Basics:
CONFIG_BLK_DEV_INITRD=y
CONFIG_BINFMT_SCRIPT=y
CONFIG_BINFMT_WASM=y
CONFIG_TTY=y
CONFIG_HVC_WASM=y
CONFIG_NO_HZ_FULL=y

# Almost basics:
CONFIG_PROC_FS=y
CONFIG_SYSFS=y
CONFIG_BLOCK=y

# Convenient basics:
CONFIG_MULTIUSER=y
CONFIG_POSIX_TIMERS=y
CONFIG_PRINTK=y
CONFIG_BUG=y
CONFIG_FUTEX=y
CONFIG_EPOLL=y
CONFIG_SIGNALFD=y
CONFIG_TIMERFD=y
CONFIG_EVENTFD=y
CONFIG_ADVISE_SYSCALLS=y
